.space{
    width:100%;
    height:150px;
}
.editspace{
    width:100%;
    height:65px;
}
.user-img-space {
    height: 10px;
}
.user-main-img {
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
    width: 74px;
    height: 74px;
}
.user-name {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.user-text {
    position: relative;
    max-width: 600px;
    padding-bottom: 20px;
}
.greeting-toEdit {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
/* 編集画面CSS */
.edit-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 44px;
    line-height: 44px;
    width:600px;
    margin:0 auto;
}
.edti-row-label {
    width: 76px;
    padding-left: 16px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-right:15px;
}
.edit-input {
    width: 270px;
    color: #88f4e7;
    color:black;
    font-size: 14px;
    outline: 0;
}
.selectFont{
    font-size:12px;
}
.edit-self-introduction{
    height:93px;
    width: 270px;
    color: #88f4e7;
    color:black;
    font-size: 14px;
}
